

    
        

            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Deals of the Day<a href="#">&#8249;</a>
        <a href="#">&#8250;</a> </p>
          

    




<style>
 	a{
        text-decoration: none;
        background: #F1F1F1;
        padding: 7px 10px;  
        font-size: 19px;
        
    }
    
</style>


{% schema %}
{
    "name": "Deals of the Day",
    "settings": [],
    "presets": [ 
        {
            "name": "Deals of the Day"
        }
    
    
    ]
}
{% endschema %}


