<section id="divider-text" class="divider-text">

    <div class="row">
        <div class="column">
            <p>Deals of the Day</p>
        </div>
        <div class="column"></div>
    </div>

</section>


<style>


</style>


{% schema %}
{
    "name": "Deals of the Day",
    "settings": [],
    "presets": [ 
        {
            "name": "Deals of the Day"
        }
    
    
    ]
}
{% endschema %}


