<section id="divider-text" class="divider-text">

    <div class="row">
        <div class="column">

            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Deals of the Day</p>

        </div>
        <div class="column">

          <a href="#">&#8249;</a>
        <a href="#">&#8250;</a> 

        </div>
    </div>

</section>


<style>
 	a{
        text-decoration: none;
        color: white;
        background: #dc3545;
        padding: 7px 10px;
        border-radius: 4px;  
        font-size: 19px;
    }
    a:hover{
		background: rgb(220 53 69 / 85%);
    }
    a:focus{
        outline: 3px solid rgb(220 53 69 / 50%);
    }
    
</style>


{% schema %}
{
    "name": "Deals of the Day",
    "settings": [],
    "presets": [ 
        {
            "name": "Deals of the Day"
        }
    
    
    ]
}
{% endschema %}


