<section id="divider-text" class="divider-text">

    <div class="row">
        <div class="column">

            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Deals of the Day</p>

        </div>
        <div class="column">  
          <a href="#">&#8249;</a>
          <a href="#">&#8250;</a> 
        </div>
    </div>

</section>


<style>


</style>


{% schema %}
{
    "name": "Deals of the Day",
    "settings": [],
    "presets": [ 
        {
            "name": "Deals of the Day"
        }
    
    
    ]
}
{% endschema %}


