<div class="shogun-root" data-shogun-id="62f05aab9fe53300e7c49ea0" data-shogun-site-id="e7d8ff8a-4bcf-4b1d-94d7-8f5ac646bc25" data-shogun-section-id="62f05aab9fe53300e7c49ea0" data-shogun-section-version-id="62f06702236ff800d8fd6ec4" data-shogun-platform-type="shopify" data-shogun-variant-id="62f06702236ff800d8fd6f0a" data-region="main">
  <link rel="stylesheet" type="text/css" href="https://cdn.getshogun.com/css-4/62f06702236ff800d8fd6f0a.css" />

<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Work+Sans:|Work+Sans:700" />



  <div
    class="shg-c  "
    id="s-bdb26844-255d-49ed-b74e-1d00ca0225f3"
    >
    <div class="shg-row" data-col-grid-mode-on="true">
      <div class="shg-c-lg-3 shg-c-md-3 shg-c-sm-3 shg-c-xs-12">

<div
  class="shg-c shogun-image-container    shg-align-center"
  style="opacity: 1;"
  id="s-e3ca2003-9459-45f0-b978-3d01f644ad14">
  
    
      <img
        src="https://i.shgcdn.com/9d7828e2-d784-4c35-af85-71c76621c97d/-/format/auto/-/preview/3000x3000/-/quality/lighter/"
        width=""
        height=""
        style=""
        alt=""
        class="shogun-image "
      />
    
  
  
  
  
</div>

<script type="text/javascript">
  window.SHOGUN_IMAGE_ELEMENTS = window.SHOGUN_IMAGE_ELEMENTS || new Array();
  window.SHOGUN_IMAGE_ELEMENTS.push({ hoverImage: '', uuid: 's-e3ca2003-9459-45f0-b978-3d01f644ad14' })
</script>
</div>
      <div class="shg-c-lg-3 shg-c-md-3 shg-c-sm-3 shg-c-xs-12">

<div
  class="shg-c shogun-image-container    shg-align-center"
  style="opacity: 1;"
  id="s-924af9cb-1647-4836-9783-80cb72d13368">
  
    
      <img
        src="https://i.shgcdn.com/e5606a22-8aa7-4fe4-b757-ec68e69fb0c0/-/format/auto/-/preview/3000x3000/-/quality/lighter/"
        width=""
        height=""
        style=""
        alt=""
        class="shogun-image "
      />
    
  
  
  
  
</div>

<script type="text/javascript">
  window.SHOGUN_IMAGE_ELEMENTS = window.SHOGUN_IMAGE_ELEMENTS || new Array();
  window.SHOGUN_IMAGE_ELEMENTS.push({ hoverImage: '', uuid: 's-924af9cb-1647-4836-9783-80cb72d13368' })
</script>
</div>
      
        <div class="shg-c-lg-6 shg-c-md-6 shg-c-sm-6 shg-c-xs-12"><div id="s-75059bf9-85de-4aa6-99af-230000d8e72d"  class="shg-c  ">
  <div
  class="shg-rich-text shg-default-text-content"><p style="line-height: 84px;"><span style="font-weight: 600; color: #ffffff;"><strong><span style="font-size: 44px; font-family: 'Work Sans';">GET IN TOUCH</span></strong></span></p>
<div style="line-height: 26px;"><span style="color: #ffffff; font-family: 'Work Sans'; font-weight: 400;">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.</span></div></div>

</div>
<div id="s-06b54fde-fca1-47c6-80eb-8fe7aa3b0622-btn-wrapper" class="shg-c shg-btn-wrapper  shg-align-center" >
  <a
    id="s-06b54fde-fca1-47c6-80eb-8fe7aa3b0622"
    class="shg-btn shg-cse "
    href="#"
    target="_blank">
      SHOP NOW
  </a>
</div>
</div>
      
      
      
      
    </div>
  </div>


<script type="text/javascript" src="https://cdn.getshogun.com/5/global-assets-e05c36e7ebd7358dbebc3dae4859cc072914d9b5.js" defer></script>

</div>

{% schema %}
  {
    "name": "Get in Touch",
    "settings": [
      {
        "type": "header",
        "content": "PAGE BUILDER SECTION"
      },
      {
        "type": "paragraph",
        "content": "This is a custom section built in Shogun Page Builder."
      },
      {
        "type": "paragraph",
        "content": "Edit section in [Page Builder](https://getshogun.com/shopify/deep_links/edit_section?id=62f05aab9fe53300e7c49ea0&shop=cosmetic-mockup.myshopify.com)"
      },
      {
        "type": "header",
        "content": "HOW DOES THIS WORK?"
      },
      {
        "type": "paragraph",
        "content": "Learn more about how sections work in [Page Builder Docs](https://getshogun.com/help/en)"
      }
    ],
    "presets": [
      {
        "name": "Get in Touch",
        "category": "Custom"
      }
    ]
  }
{% endschema %}
