<div class="shogun-root" data-shogun-id="62ee4568d0bdaf010eb6fc20" data-shogun-site-id="e7d8ff8a-4bcf-4b1d-94d7-8f5ac646bc25" data-shogun-section-id="62ee4568d0bdaf010eb6fc20" data-shogun-section-version-id="62ee4e3307715e00dbe1636d" data-shogun-platform-type="shopify" data-shogun-variant-id="62ee4e3307715e00dbe16371" data-region="main">
  <link rel="stylesheet" type="text/css" href="https://cdn.getshogun.com/css-4/62ee4e3307715e00dbe16371.css" />

<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Work+Sans:" />


<div id="s-b642beb3-0562-417c-b9b4-209e9ac51a07"  class="shg-c  ">
  <div
  class="shg-rich-text shg-default-text-content"><p style="line-height: 22px;"><a href="#"><span style="font-family: 'Work Sans'; font-weight: 600; color: #d32121; font-size: 18px; text-decoration: none !important;">NEW PRODUCTS</span></a>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<a href="#"><span style="font-weight: 600; font-family: 'Work Sans'; color: #000000; font-size: 18px;">ON SALE</span>&nbsp;</a> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<a href="#"><span style="font-size: 18px; font-weight: 600; font-family: 'Work Sans';"><span style="color: #000000;">FEATURE PRODUCTS</span></span></a></p></div>

</div>

<script type="text/javascript" src="https://cdn.getshogun.com/5/global-assets-e05c36e7ebd7358dbebc3dae4859cc072914d9b5.js" defer></script>

</div>


{% schema %}
  {
    "name": "Product Section Header",
    "settings": [
      {
        "type": "header",
        "content": "PAGE BUILDER SECTION"
      },
      {
        "type": "paragraph",
        "content": "This is a custom section built in Shogun Page Builder."
      },
      {
        "type": "paragraph",
        "content": "Edit section in [Page Builder](https://getshogun.com/shopify/deep_links/edit_section?id=62ee4568d0bdaf010eb6fc20&shop=cosmetic-mockup.myshopify.com)"
      },
      {
        "type": "header",
        "content": "HOW DOES THIS WORK?"
      },
      {
        "type": "paragraph",
        "content": "Learn more about how sections work in [Page Builder Docs](https://getshogun.com/help/en)"
      }
    ],
    "presets": [
      {
        "name": "Product Section Header",
        "category": "Custom"
      }
    ]
  }
{% endschema %}
