<div class="shogun-root" data-shogun-id="62f0682d236ff800f0fdc33e" data-shogun-site-id="e7d8ff8a-4bcf-4b1d-94d7-8f5ac646bc25" data-shogun-section-id="62f0682d236ff800f0fdc33e" data-shogun-section-version-id="62f0a3f17cc10f00d1f217c3" data-shogun-platform-type="shopify" data-shogun-variant-id="62f0a3f17cc10f00d1f21824" data-region="main">
  <link rel="stylesheet" type="text/css" href="https://cdn.getshogun.com/css-4/62f0a3f17cc10f00d1f21824.css" />

<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Montserrat:|Poppins:" />

<link rel="stylesheet" type="text/css" href="https://cdn.getshogun.com/shogun-font-awesome.min.css" />



  <div
    class="shg-c  "
    id="s-0c9715e2-d2f1-4cd5-9b88-c2741e79978d"
    >
    <div class="shg-row" data-col-grid-mode-on="">
      <div class="shg-c-lg-4 shg-c-md-4 shg-c-sm-4 shg-c-xs-12">

<div
  class="shg-c shogun-image-container    shg-align-left"
  style="opacity: 1;"
  id="s-7dfd520c-7444-40a8-af1b-1c8191caab6a">
  
    
      <img
        src="https://i.shgcdn.com/b406b2e6-52b9-424f-bc7d-27ac620bc92a/-/format/auto/-/preview/3000x3000/-/quality/lighter/"
        width=""
        height=""
        style=""
        alt=""
        class="shogun-image shogun-image-normal"
      />
    
  
  
  
  
</div>

<script type="text/javascript">
  window.SHOGUN_IMAGE_ELEMENTS = window.SHOGUN_IMAGE_ELEMENTS || new Array();
  window.SHOGUN_IMAGE_ELEMENTS.push({ hoverImage: '', uuid: 's-7dfd520c-7444-40a8-af1b-1c8191caab6a' })
</script>
<div id="s-88cda05c-197a-4b5f-9b85-bcd07024b0bc"  class="shg-c  ">
  <div
  class="shg-rich-text shg-default-text-content"><p style="line-height: 22px;"><span style="font-size: 12px; font-weight: 400; font-family: Montserrat; color: #ffffff;">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.</span></p>
<p style="line-height: 22px;"><span style="font-size: 12px; font-weight: 400; font-family: Montserrat; color: #ffffff;">Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</span></p></div>

</div>
<div id="s-8a8c8169-ea86-4f94-aa3d-ed457946a4eb"  class="shg-c  ">
  <div class="shogun-icon-wrapper">
  
    <div class="shg-fa shg-fa-envelope shogun-icon"></div>
  
</div>

</div>
<div id="s-aceaf2a9-6e78-4ce7-bf9e-f7a373468e3e"  class="shg-c  ">
  <div
  class="shg-rich-text shg-default-text-content"><p style="padding-left: 40px;"><a href="#"><span style="font-weight: 400; font-family: Montserrat; font-size: 14px; color: #ffffff;">info@afriendindeedstore.com</span></a></p></div>

</div>
<div id="s-faa3b6f0-de57-49ce-b108-180088c75257"  class="shg-c  shg-align-left">
  <div class="shg-social-alignable">
  <div class="shg-social-container" data-color="rgba(255, 255, 255, 1)" data-size="small" data-gutter="22px" data-orientation="horizontal" data-in-new-tab="">
    
      <a class="shg-social-element" data-icon="twitter-square" data-link=""></a>
    
      <a class="shg-social-element" data-icon="facebook-square" data-link=""></a>
    
      <a class="shg-social-element" data-icon="linkedin-square" data-link=""></a>
    
      <a class="shg-social-element" data-icon="pinterest-square" data-link=""></a>
    
  </div>
</div>

</div>
</div>
      <div class="shg-c-lg-3 shg-c-md-3 shg-c-sm-3 shg-c-xs-12"><div id="s-f706c983-2b38-48db-8344-023c4cb001b2"  class="shg-c  ">
  <div
  class="shg-rich-text shg-default-text-content"><h1 style="line-height: 68px;"><span style="font-weight: 600;"><strong><span style="color: #ffffff; font-family: Poppins; font-size: 24px;">QUICK LINKS</span></strong></span></h1>
<p style="line-height: 26px;"><a href="#"><span style="color: #ffffff; font-weight: 400; font-family: Poppins;">My Account</span></a></p>
<p style="line-height: 26px;"><a href="#"><span style="color: #ffffff; font-weight: 400; font-family: Poppins;">Rewards</span></a></p>
<p style="line-height: 26px;"><a href="#"><span style="color: #ffffff; font-weight: 400; font-family: Poppins;">Cart</span></a></p>
<p style="line-height: 26px;"><a href="#"><span style="color: #ffffff; font-weight: 400; font-family: Poppins;">Delivery </span></a></p>
<p style="line-height: 26px;"><a href="#"><span style="color: #ffffff; font-weight: 400; font-family: Poppins;">Terms &amp; Conditions</span></a></p>
<p style="line-height: 26px;"><a href="#"><span style="color: #ffffff; font-weight: 400; font-family: Poppins;">Contact Us</span></a></p></div>

</div>
</div>
      
        <div class="shg-c-lg-5 shg-c-md-5 shg-c-sm-5 shg-c-xs-12"><div id="s-07ee32cd-0362-42de-8bc1-a1be0fc89669"  class="shg-c  ">
  <div
  class="shg-rich-text shg-default-text-content"><h1 style="line-height: 68px;"><span style="font-weight: 600;"><strong><span style="color: #ffffff; font-family: Poppins; font-size: 24px;">SHOP NOW</span></strong></span></h1>
<p style="line-height: 26px;"><span style="color: #ffffff; font-weight: 400; font-family: Poppins;">All Products  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  Intra Workout</span></p>
<p style="line-height: 26px;"><span style="color: #ffffff; font-weight: 400; font-family: Poppins;">Samples  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  Pre Workout</span></p>
<p style="line-height: 26px;"><span style="color: #ffffff; font-weight: 400; font-family: Poppins;">Stacks  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  Fat Burners</span></p>
<p style="line-height: 26px;"><span style="color: #ffffff; font-weight: 400; font-family: Poppins;">Health Supplements  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  Clothing</span></p>
<p style="line-height: 26px;"><a href="#"><span style="color: #ffffff; font-weight: 400; font-family: Poppins;">Protein &amp; Aminos</span></a></p>
<p style="line-height: 26px;"><a href="#"><span style="color: #ffffff; font-weight: 400; font-family: Poppins;">Post Workout</span></a></p></div>

</div>
</div>
      
      
      
      
    </div>
  </div>



  <div
    class="shg-c  "
    id="s-244d70e9-2992-40cf-8ba8-e87e6b7addd1"
    >
    <div class="shg-row" data-col-grid-mode-on="">
      <div class="shg-c-lg-6 shg-c-md-6 shg-c-sm-6 shg-c-xs-12"><div id="s-d83f1ade-9822-4a99-b2c2-5aa548dc7505"  class="shg-c  ">
  <div
  class="shg-rich-text shg-default-text-content"><p><span style="color: #ffffff; font-size: 16px; font-weight: 400; font-family: Poppins;">All Rights Reserved. Pulse Nutrition 2022</span></p></div>

</div>
</div>
      <div class="shg-c-lg-6 shg-c-md-6 shg-c-sm-6 shg-c-xs-12"><div id="s-7729f319-f79e-4139-acf9-89cd1e67f818"  class="shg-c  shg-align-right">
  <div class="shg-social-alignable">
  <div class="shg-social-container" data-color="rgba(255, 255, 255, 1)" data-size="small" data-gutter="27px" data-orientation="horizontal" data-in-new-tab="true">
    
      <a class="shg-social-element" data-icon="facebook-square" data-link=""></a>
    
      <a class="shg-social-element" data-icon="linkedin-square" data-link=""></a>
    
      <a class="shg-social-element" data-icon="twitter-square" data-link=""></a>
    
  </div>
</div>

</div>
</div>
      
      
      
      
    </div>
  </div>


<script type="text/javascript" src="https://cdn.getshogun.com/5/global-assets-e05c36e7ebd7358dbebc3dae4859cc072914d9b5.js" defer></script>

</div>

{% schema %}
  {
    "name": "Footer",
    "settings": [
      {
        "type": "header",
        "content": "PAGE BUILDER SECTION"
      },
      {
        "type": "paragraph",
        "content": "This is a custom section built in Shogun Page Builder."
      },
      {
        "type": "paragraph",
        "content": "Edit section in [Page Builder](https://getshogun.com/shopify/deep_links/edit_section?id=62f0682d236ff800f0fdc33e&shop=cosmetic-mockup.myshopify.com)"
      },
      {
        "type": "header",
        "content": "HOW DOES THIS WORK?"
      },
      {
        "type": "paragraph",
        "content": "Learn more about how sections work in [Page Builder Docs](https://getshogun.com/help/en)"
      }
    ],
    "presets": [
      {
        "name": "Footer",
        "category": "Custom"
      }
    ]
  }
{% endschema %}
