<div class="shogun-root" data-shogun-id="62ede5f5e9223b00f64a63ae" data-shogun-site-id="e7d8ff8a-4bcf-4b1d-94d7-8f5ac646bc25" data-shogun-section-id="62ede5f5e9223b00f64a63ae" data-shogun-section-version-id="62ede67ae9223b00d649fecb" data-shogun-platform-type="shopify" data-shogun-variant-id="62ede67ae9223b00d649fedd" data-region="main">
  <link rel="stylesheet" type="text/css" href="https://cdn.getshogun.com/css-4/62ede67ae9223b00d649fedd.css" />




<div
  class="shg-c shogun-image-container    shg-align-center"
  style="opacity: 1;"
  id="s-dc7e3c85-cf1e-4741-b6ee-6ea339515c80">
  
    
      <img
        src="https://i.shgcdn.com/3fe7e78a-8849-4ab7-926f-5e84104c2f2e/-/format/auto/-/preview/3000x3000/-/quality/lighter/"
        width=""
        height=""
        style=""
        alt=""
        class="shogun-image "
      />
    
  
  
  
  
</div>

<script type="text/javascript">
  window.SHOGUN_IMAGE_ELEMENTS = window.SHOGUN_IMAGE_ELEMENTS || new Array();
  window.SHOGUN_IMAGE_ELEMENTS.push({ hoverImage: '', uuid: 's-dc7e3c85-cf1e-4741-b6ee-6ea339515c80' })
</script>

<script type="text/javascript" src="https://cdn.getshogun.com/5/global-assets-e05c36e7ebd7358dbebc3dae4859cc072914d9b5.js" defer></script>

</div>

{% schema %}
  {
    "name": "Banner Divider",
    "settings": [
      {
        "type": "header",
        "content": "PAGE BUILDER SECTION"
      },
      {
        "type": "paragraph",
        "content": "This is a custom section built in Shogun Page Builder."
      },
      {
        "type": "paragraph",
        "content": "Edit section in [Page Builder](https://getshogun.com/shopify/deep_links/edit_section?id=62ede5f5e9223b00f64a63ae&shop=cosmetic-mockup.myshopify.com)"
      },
      {
        "type": "header",
        "content": "HOW DOES THIS WORK?"
      },
      {
        "type": "paragraph",
        "content": "Learn more about how sections work in [Page Builder Docs](https://getshogun.com/help/en)"
      }
    ],
    "presets": [
      {
        "name": "Banner Divider",
        "category": "Custom"
      }
    ]
  }
{% endschema %}
