<div class="shogun-root" data-shogun-id="62edebacdd8a8900f2263792" data-shogun-site-id="e7d8ff8a-4bcf-4b1d-94d7-8f5ac646bc25" data-shogun-section-id="62edebacdd8a8900f2263792" data-shogun-section-version-id="62ee26a784e8cc00d2fa87cc" data-shogun-platform-type="shopify" data-shogun-variant-id="62ee26a784e8cc00d2fa87f8" data-region="main">
  <link rel="stylesheet" type="text/css" href="https://cdn.getshogun.com/css-4/62ee26a784e8cc00d2fa87f8.css" />

<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Montserrat:|Work+Sans:|Work+Sans:500" />


<div class="shg-fw"><div
    class="shg-box-vertical-align-wrapper">
    <div
      class="shg-box shg-c    "
      
      id="s-8f7436f7-bc40-4497-b9ba-c4f58cf80031"
    >
      <div class="shg-box-overlay"></div><div class="shg-box-content">
        <div id="s-0b399b8c-8fbb-4d3f-bcf6-507a8cc4f3d9"  class="shg-c  ">
  <div
  class="shg-rich-text shg-theme-text-content"><p style="line-height: 8px; text-align: center;"><span style="font-family: Montserrat; font-weight: bold; font-size: 36px; color: #ffffff;">GET <span style="color: #d32121;">10% <span style="color: #ffffff;">DISCOUNT</span></span></span></p>
<p style="line-height: 8px; text-align: center;">&nbsp;</p>
<p style="line-height: 8px; text-align: center;"><span style="font-family: 'Work Sans'; font-weight: 400; font-size: 12px; color: #ffffff;"><span style="color: #d32121;"><span style="color: #ffffff;">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo</span></span></span></p>
<p style="line-height: 8px; text-align: center;"><span style="font-family: 'Work Sans'; font-weight: 400; font-size: 12px; color: #ffffff;"><span style="color: #d32121;"><span style="color: #ffffff;"> ligula eget dolor. Aenean massa. Cum sociis natoque penatibus.</span></span></span></p></div>

</div>
<div id="s-e2dea576-0068-4ccf-b1a4-07198100b3f6"  class="shg-c  ">
  <form class="shogun-form-box" method="post" action="https://forms.getshogun.com/api/forms/contact/submit" novalidate>
  <div id="s-fd484c1e-e6fe-4c28-af09-039b4d505ecb"  class="shg-c  ">
  <div class="shogun-form-text-input">
  <label class="shogun-form-label"></label>
  
    <input
      id="input-s-fd484c1e-e6fe-4c28-af09-039b4d505ecb"
      class="shogun-form-box-field shogun-form-text-input-field"
      name=""
      placeholder="Your email address here"
      type="email"
      
    />
  
  
    <div class="shogun-form-field-error-msg">
      <svg viewBox="0 0 26 26" width="26px" height="26px">
        <path
          d="M13 1c6.627 0 12 5.373 12 12s-5.373 12-12 12S1 19.627 1 13 6.373 1 13 1zm0 1.5C7.201 2.5 2.5 7.201 2.5 13S7.201 23.5 13 23.5 23.5 18.799 23.5 13 18.799 2.5 13 2.5zm0 14.25l.123.007a1.125 1.125 0 11-.246 0L13 16.75zM13 5.5a.75.75 0 01.743.648l.007.102v8.25a.75.75 0 01-1.493.102l-.007-.102V6.25A.75.75 0 0113 5.5z"
          fill="#000"
          fillRule="nonzero"
        />
      </svg>
      <span>Value is required</span>
    </div>
  
</div>

<script type="text/javascript">
  window.SHOGUN_FORM_TEXTAREA_ELEMENTS = window.SHOGUN_FORM_TEXTAREA_ELEMENTS || new Array();
  window.SHOGUN_FORM_TEXTAREA_ELEMENTS.push({ uuid: 's-fd484c1e-e6fe-4c28-af09-039b4d505ecb' })
</script>

</div>
<div id="s-744c5df4-7983-445e-b92f-97463ef858aa-btn-wrapper" class="shg-c shg-btn-wrapper  shg-align-center">
  <button
    id="s-744c5df4-7983-445e-b92f-97463ef858aa"
    class="shg-btn shg-cse shogun-form-box-submit"
    type="submit"
  >
    SUBMIT
  </button>
</div>

  
  <div class="shogun-form-error-msg"></div>
</form>

<script type="text/javascript">
  window.SHOGUN_FORM_BOX = window.SHOGUN_FORM_BOX || new Array();
  window.SHOGUN_FORM_BOX.push({
    uuid: 's-e2dea576-0068-4ccf-b1a4-07198100b3f6',
    domain: 'https://forms.getshogun.com',
    form_submission_email: ``,
    form_submission_klaviyo_list_id: ``,
    form_submission_destination: `email`,
    form_name: `Form name`,
    site_id: 'e7d8ff8a-4bcf-4b1d-94d7-8f5ac646bc25',
    form_href: '',
    form_same_window: ''
  })
</script>

</div>

      </div>
    </div>
  </div></div>
<script type="text/javascript" src="https://cdn.getshogun.com/5/global-assets-e05c36e7ebd7358dbebc3dae4859cc072914d9b5.js" defer></script>

</div>

{% schema %}
  {
    "name": "Offers",
    "settings": [
      {
        "type": "header",
        "content": "PAGE BUILDER SECTION"
      },
      {
        "type": "paragraph",
        "content": "This is a custom section built in Shogun Page Builder."
      },
      {
        "type": "paragraph",
        "content": "Edit section in [Page Builder](https://getshogun.com/shopify/deep_links/edit_section?id=62edebacdd8a8900f2263792&shop=cosmetic-mockup.myshopify.com)"
      },
      {
        "type": "header",
        "content": "HOW DOES THIS WORK?"
      },
      {
        "type": "paragraph",
        "content": "Learn more about how sections work in [Page Builder Docs](https://getshogun.com/help/en)"
      }
    ],
    "presets": [
      {
        "name": "Offers",
        "category": "Custom"
      }
    ]
  }
{% endschema %}
