<div class="shogun-root" data-shogun-id="62f0a057188ad600fdd736f5" data-shogun-site-id="e7d8ff8a-4bcf-4b1d-94d7-8f5ac646bc25" data-shogun-section-id="62f0a057188ad600fdd736f5" data-shogun-section-version-id="62f0b952ca860200fce7c34c" data-shogun-platform-type="shopify" data-shogun-variant-id="62f0b952ca860200fce7c381" data-region="main">
  <link rel="stylesheet" type="text/css" href="https://cdn.getshogun.com/css-4/62f0b952ca860200fce7c381.css" />

<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Montserrat:|Work+Sans:|Work+Sans:700" />



  <div
    class="shg-c  "
    id="s-9cc1799b-2086-40f1-884a-7b2d7ae35c0c"
    >
    <div class="shg-row" data-col-grid-mode-on="true">
      <div class="shg-c-lg-6 shg-c-md-6 shg-c-sm-6 shg-c-xs-12"><div id="s-ae6179a2-e254-4aa7-8187-4c409dcd8e84"  class="shg-c  ">
  <div
  class="shg-rich-text shg-default-text-content"><p style="line-height: 22px;"><span style="font-family: Montserrat; font-size: 44px;">WHY</span></p>
<p style="line-height: 22px;"><span style="font-family: Montserrat; font-size: 44px;"><strong>COSMETICS?</strong></span></p>
<p style="line-height: 8px;">&nbsp;</p>
<p style="line-height: 22px;"><span style="font-family: 'Work Sans'; font-weight: 400;">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.</span></p></div>

</div>
<div id="s-76fbb61f-1a11-4819-94d0-e3325a669766-btn-wrapper" class="shg-c shg-btn-wrapper  shg-align-center" >
  <a
    id="s-76fbb61f-1a11-4819-94d0-e3325a669766"
    class="shg-btn shg-cse "
    href="#"
    >
      SHOP NOW
  </a>
</div>
</div>
      <div class="shg-c-lg-6 shg-c-md-6 shg-c-sm-6 shg-c-xs-12">

<div
  class="shg-c shogun-image-container    shg-align-center"
  style="opacity: 1;"
  id="s-13c80beb-4342-4ae9-a3d7-b5438f0a889b">
  
    
      <img
        src="https://i.shgcdn.com/13b91df2-0551-47e1-96af-6fb09b85691d/-/format/auto/-/preview/3000x3000/-/quality/lighter/"
        width=""
        height=""
        style=""
        alt=""
        class="shogun-image "
      />
    
  
  
  
  
</div>

<script type="text/javascript">
  window.SHOGUN_IMAGE_ELEMENTS = window.SHOGUN_IMAGE_ELEMENTS || new Array();
  window.SHOGUN_IMAGE_ELEMENTS.push({ hoverImage: '', uuid: 's-13c80beb-4342-4ae9-a3d7-b5438f0a889b' })
</script>
</div>
      
      
      
      
    </div>
  </div>


<script type="text/javascript" src="https://cdn.getshogun.com/5/global-assets-e05c36e7ebd7358dbebc3dae4859cc072914d9b5.js" defer></script>

</div>

{% schema %}
  {
    "name": "Image with Text",
    "settings": [
      {
        "type": "header",
        "content": "PAGE BUILDER SECTION"
      },
      {
        "type": "paragraph",
        "content": "This is a custom section built in Shogun Page Builder."
      },
      {
        "type": "paragraph",
        "content": "Edit section in [Page Builder](https://getshogun.com/shopify/deep_links/edit_section?id=62f0a057188ad600fdd736f5&shop=cosmetic-mockup.myshopify.com)"
      },
      {
        "type": "header",
        "content": "HOW DOES THIS WORK?"
      },
      {
        "type": "paragraph",
        "content": "Learn more about how sections work in [Page Builder Docs](https://getshogun.com/help/en)"
      }
    ],
    "presets": [
      {
        "name": "Image with Text",
        "category": "Custom"
      }
    ]
  }
{% endschema %}
