<div class="shogun-root" data-shogun-id="62f0567fca860200f3e63685" data-shogun-site-id="e7d8ff8a-4bcf-4b1d-94d7-8f5ac646bc25" data-shogun-section-id="62f0567fca860200f3e63685" data-shogun-section-version-id="62f05a67236ff800fafd957f" data-shogun-platform-type="shopify" data-shogun-variant-id="62f05a67236ff800fafd95c4" data-region="main">
  <link rel="stylesheet" type="text/css" href="https://cdn.getshogun.com/css-4/62f05a67236ff800fafd95c4.css" />

<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Work+Sans:" />


<div id="s-875f0a0b-ffb0-4b24-9dd3-0272265705f5"  class="shg-c  ">
  <div
  class="shg-rich-text shg-default-text-content"><p style="line-height: 22px; padding-left: 80px;"><span style="color: #000000; font-family: 'Work Sans'; font-size: 18px; font-weight: 600;"> WHAT OUR CLIENTS SAYS TO US</span></p></div>

</div>

<div id="s-a5fa09fc-c9a3-4721-85af-08f9521c9274"  class="shg-c  ">
  
  <div id="slider-s-a5fa09fc-c9a3-4721-85af-08f9521c9274" class="shg-sld">
    <div class="shg-sld-content">
      

      <div class="shg-sld-slides">
        
          
            <div class="shg-sld-item shg-sld-active">
          
          <div class="shg-sld-fade">
            

<div
  class="shg-c shogun-image-container    shg-align-center"
  style="opacity: 1;"
  id="s-4b762ff4-6110-4a30-8854-db971e5f81d3">
  
    
      <img
        src="https://i.shgcdn.com/3da9f506-2d4d-467a-b1ca-95dfb53bd410/-/format/auto/-/preview/3000x3000/-/quality/lighter/"
        width=""
        height=""
        style=""
        alt=""
        class="shogun-image "
      />
    
  
  
  
  
</div>

<script type="text/javascript">
  window.SHOGUN_IMAGE_ELEMENTS = window.SHOGUN_IMAGE_ELEMENTS || new Array();
  window.SHOGUN_IMAGE_ELEMENTS.push({ hoverImage: '', uuid: 's-4b762ff4-6110-4a30-8854-db971e5f81d3' })
</script>

          </div>
        </div>
        
          
            <div class="shg-sld-item">
          
          <div class="shg-sld-fade">
            

<div
  class="shg-c shogun-image-container    shg-align-center"
  style="opacity: 1;"
  id="s-57344d55-dac7-4ed5-bb1d-25a395b2f99a">
  
    
      <img
        src="https://i.shgcdn.com/8d7b3a3e-ddc5-480f-b6ef-8f07575d30a7/-/format/auto/-/preview/3000x3000/-/quality/lighter/"
        width=""
        height=""
        style=""
        alt=""
        class="shogun-image "
      />
    
  
  
  
  
</div>

<script type="text/javascript">
  window.SHOGUN_IMAGE_ELEMENTS = window.SHOGUN_IMAGE_ELEMENTS || new Array();
  window.SHOGUN_IMAGE_ELEMENTS.push({ hoverImage: '', uuid: 's-57344d55-dac7-4ed5-bb1d-25a395b2f99a' })
</script>

          </div>
        </div>
        
          
            <div class="shg-sld-item">
          
          <div class="shg-sld-fade">
            

<div
  class="shg-c shogun-image-container    shg-align-center"
  style="opacity: 1;"
  id="s-584fd86f-9cb4-4716-ba02-c0aee1af11a0">
  
    
      <img
        src="https://i.shgcdn.com/380f7524-b109-4651-b86a-4c94bf2cf507/-/format/auto/-/preview/3000x3000/-/quality/lighter/"
        width=""
        height=""
        style=""
        alt=""
        class="shogun-image "
      />
    
  
  
  
  
</div>

<script type="text/javascript">
  window.SHOGUN_IMAGE_ELEMENTS = window.SHOGUN_IMAGE_ELEMENTS || new Array();
  window.SHOGUN_IMAGE_ELEMENTS.push({ hoverImage: '', uuid: 's-584fd86f-9cb4-4716-ba02-c0aee1af11a0' })
</script>

          </div>
        </div>
        
      </div>

      
    </div>

    
      <div class="shg-sld-dots">
        
          <div class="shg-sld-dot shg-sld-active"></div>
        
          <div class="shg-sld-dot"></div>
        
          <div class="shg-sld-dot"></div>
        
      </div>
    
  </div>



<script type="text/javascript">
  window.SHOGUN_SLIDERS = window.SHOGUN_SLIDERS || new Array();
  window.SHOGUN_SLIDERS.push({
    id: '#slider-s-a5fa09fc-c9a3-4721-85af-08f9521c9274',
    intervalTime: 11,
    autoplay: true,
    pauseOnHover: true,
    interval: null
  })
</script>

</div>

<script type="text/javascript" src="https://cdn.getshogun.com/5/global-assets-e05c36e7ebd7358dbebc3dae4859cc072914d9b5.js" defer></script>

</div>

{% schema %}
  {
    "name": "Testimonials",
    "settings": [
      {
        "type": "header",
        "content": "PAGE BUILDER SECTION"
      },
      {
        "type": "paragraph",
        "content": "This is a custom section built in Shogun Page Builder."
      },
      {
        "type": "paragraph",
        "content": "Edit section in [Page Builder](https://getshogun.com/shopify/deep_links/edit_section?id=62f0567fca860200f3e63685&shop=cosmetic-mockup.myshopify.com)"
      },
      {
        "type": "header",
        "content": "HOW DOES THIS WORK?"
      },
      {
        "type": "paragraph",
        "content": "Learn more about how sections work in [Page Builder Docs](https://getshogun.com/help/en)"
      }
    ],
    "presets": [
      {
        "name": "Testimonials",
        "category": "Custom"
      }
    ]
  }
{% endschema %}
