<div class="shogun-root" data-shogun-id="62f09423ca860200d5e829ad" data-shogun-site-id="e7d8ff8a-4bcf-4b1d-94d7-8f5ac646bc25" data-shogun-section-id="62f09423ca860200d5e829ad" data-shogun-section-version-id="62f09df8188ad600d1d650fd" data-shogun-platform-type="shopify" data-shogun-variant-id="62f09df8188ad600d1d65153" data-region="main">
  <link rel="stylesheet" type="text/css" href="https://cdn.getshogun.com/css-4/62f09df8188ad600d1d65153.css" />

<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Montserrat:|Work+Sans:|Work+Sans:700" />


<div
    class="shg-box-vertical-align-wrapper">
    <div
      class="shg-box shg-c    "
      
      id="s-d03d22e8-7225-4a58-9e27-c5ba5038dba4"
    >
      <div class="shg-box-overlay"></div><div class="shg-box-content">
        
      </div>
    </div>
  </div>
<div
    class="shg-box-vertical-align-wrapper">
    <div
      class="shg-box shg-c    "
      
      id="s-36bd45cd-83ef-4458-a1c6-98c46bc9d9ac"
    >
      <div class="shg-box-overlay"></div><div class="shg-box-content">
        
      </div>
    </div>
  </div>
<div
    class="shg-box-vertical-align-wrapper">
    <div
      class="shg-box shg-c    "
      
      id="s-4999fbf4-6042-4c0d-ae67-84422c72319a"
    >
      <div class="shg-box-overlay"></div><div class="shg-box-content">
        <div id="s-acef1b32-055a-4437-b5ed-09a7e3e9eaae"  class="shg-c  ">
  <div
  class="shg-rich-text shg-default-text-content"><p style="line-height: 28px;"><span style="font-weight: 600;"><strong><span style="font-size: 48px; font-family: Montserrat; color: #ffffff;">YOUR CHOICE OF </span></strong></span></p>
<p style="line-height: 36px;"><span style="font-weight: 600;"><strong><span style="font-size: 48px; font-family: Montserrat; color: #d32121;">BEAUTY PRODUCTS</span></strong></span></p>
<p style="line-height: 32px;"><span style="font-size: 20px; color: #000000; font-family: 'Work Sans';">Lorem ipsum dolor sit amet, consectetur iscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam nostrud exercitation.</span></p></div>

</div>
<div id="s-0a858ed4-8001-4d79-a7e3-98119b476f64-btn-wrapper" class="shg-c shg-btn-wrapper  shg-align-left" >
  <a
    id="s-0a858ed4-8001-4d79-a7e3-98119b476f64"
    class="shg-btn shg-cse "
    href=""
    >
      SHOP ALL PRODUCTS
  </a>
</div>

      </div>
    </div>
  </div>
<script type="text/javascript" src="https://cdn.getshogun.com/5/global-assets-e05c36e7ebd7358dbebc3dae4859cc072914d9b5.js" defer></script>

</div>

{% schema %}
  {
    "name": "Banner",
    "settings": [
      {
        "type": "header",
        "content": "PAGE BUILDER SECTION"
      },
      {
        "type": "paragraph",
        "content": "This is a custom section built in Shogun Page Builder."
      },
      {
        "type": "paragraph",
        "content": "Edit section in [Page Builder](https://getshogun.com/shopify/deep_links/edit_section?id=62f09423ca860200d5e829ad&shop=cosmetic-mockup.myshopify.com)"
      },
      {
        "type": "header",
        "content": "HOW DOES THIS WORK?"
      },
      {
        "type": "paragraph",
        "content": "Learn more about how sections work in [Page Builder Docs](https://getshogun.com/help/en)"
      }
    ],
    "presets": [
      {
        "name": "Banner",
        "category": "Custom"
      }
    ]
  }
{% endschema %}
